.pokemon-list {
  display: flex;
  flex-direction: column;
  .pokemon-list-head {
    margin-top: 10px;
    text-align: center;
    span {
      font-size: 16px;
    }
  }

  .pokemon-list-items {
    padding: .4rem 1.3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}