.detailed-pokemon {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  clear: both;
  z-index: 3;
  width: 100%;
  height: 100%;
  // left: 50%;
  // transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  border: .5px solid #ccc;
  // margin-bottom: -10px;

  .close-button {
    display: flex;
    position: fixed;
    top: 10px;
    width: 100%;
    right: 10px;
    height: 30px;
    justify-content: flex-end;
    span {
      color: $secondary-color;
      cursor: pointer;
      font-weight: bold;
      border-radius: 50%;
      width: 20px;
      text-align: center;
      padding: 4px;
      right: 0;
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .detailed-pokemon {
    width: 100%;

    .close-button {
      margin-right: 10px;
    }
  }
}