.navigation {
  // background-color: $secondary-color;
  background-color: rgb(238, 238, 238);
  position: fixed;
  bottom: 0;
  width: 100vw;

  ul {
    padding: 9px 6px;
    display: flex;
    justify-content: center;
    li {
      a {
        color: $secondary-color;
        text-decoration: none;
        padding: 0 4px;
        font-size: 18px;
        text-transform: uppercase;

        &.active-link {
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .navigation {
    position: fixed;
    top: 0;
    height: 32px;
  }
}
