.navigation {
  background-color: $secondary-color;
  position: fixed;
  bottom: 0;
  width: 100vw;

  ul {
    padding: 9px 6px;
    display: flex;
    justify-content: center;
    li {
      a {
        color: $text-light;
        text-decoration: none;
        padding: 0 4px;
        font-size: 18px;
        text-transform: uppercase;

        &.active-link {
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .navigation {
    position: relative;
  }
}
